@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root{
    --background-color: #0c152d;
    --primary-color: #6eeae1;
    --secundary-color: #FF6C00;
    --terciary-color: #FFF;
    --another-color: #bbb;
    --transparency-effect: rgba( 65, 77,109,0.8);
    --default-font: 'Raleway', sans-serif; 
}
html{
    font-family: var(--default-font);
    background-color: var(--background-color);
}
section{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0rem auto;
}
    header#returnField{
        background-color: var(--transparency-effect);
        max-width: 700px;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 0px 15px #888;
        border-radius: 1.25rem;
        margin: 1rem auto;
        padding: 1rem;
        height: 3rem;
        color: white;
    }
        #returnField p {
            text-align: center;
            font-size: 20px;
        }
    aside.boxResult {
        background-color: var(--secundary-color);
        width: 250px;
        height: 250px;
        padding: 0px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        border-radius: 1rem;
        box-shadow: 0px 0px 15px #bbb;
        border: solid 4px var(--background-color);
    }
    h3{
        background-color: var(--terciary-color);
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0rem;
        border-radius: 0.8rem 0.8rem 0rem 0rem;
        border-bottom: solid 4px var(--background-color);
        padding: 1rem;        
    }

div#gameField{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
}
    div.card{
        width: 150px;
        height: 150px;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1.5rem;
        background-color: var(--primary-color);  
    }
    div.card:hover{
        border-radius: 1.5rem;
        background-color: var(--transparency-effect);
        box-shadow: 0px 0px 15px #888;
        animation: 3s ease-in 1s 2 reverse both paused slidein;    
    }

footer {
    background-color: var(--another-color);
    width: 650px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--terciary-color);
    font-size: large;
}

    